@import "partials/variables";

h1 {
    color: $primary_font_color;
}

foter {
    color: $primary_font_color;
}

.primary-btn {
    background: navy;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}
